extends layout

block content
    .container-fluid(ng-app='app')
        .row.greenbg1.topbox
            .col-sm-8
                h1 Ulti Eats   
            .col-sm-4.officebox
                Select your office:
                a(href='?office=toronto') Toronto
                a(href='?office=atlanta') Not Toronto
                a(href='?office=phase610') Phase 610
        .row(ng-controller='MainCtrl')
            // List box
            .col-sm-3.whitebg.listbox(ng-controller='RestaurantCtrl')
                .row
                    .col-sm-12.newplace
                        button.btn.btn-primary.btn-lg.newplacebutton(ng-click="newPlace()" ng-hide="newPlaceMode") I found a new place!
                        input.form-control(type="text" ng-model="newPlaceName.value" ng-show="newPlaceMode" placeholder="What was it called?")
                        button.btn.btn-primary.btn-sm.newplacebutton(ng-click="newPlace(newPlaceName.value)" ng-show="newPlaceMode") Filter
                        button.btn.btn-primary.btn-sm.newplacebutton(ng-click="newPlaceDone()" ng-show="newPlaceMode") Done
                // These ones matter
                .row(ng-repeat='spot in restaurants.list')
                    .col-sm-12
                        .row.greenbg3.listtop
                            .col-sm-10.listname {{ spot.name }}
                            .col-sm-2 +{{ spot.review_count }}
                        .row.listbottom
                            .col-sm-10 {{ spot.categories[0][0] }}, $5
                            .col-sm-2
                                button.btn.btn-primary.btn-sm I'm in!
            // End left col
            // Map box
            .col-sm-9.mapbox(ng-controller='MapCtrl')
                ui-gmap-google-map(center='map.center', zoom='map.zoom')
                    ui-gmap-markers(models="restaurants.markers", coords="'self'", icon="'icon'", click="markerClick")
                        ui-gmap-windows(show="show")
                            div(ng-non-bindable)
                                h5 This is a marker!
            // End right col
        // End row
        .row.bordertop.comments
            .col-sm-12
                h4.commentstitle Comments about [Hemingway's]
                .row.comment
                    .col-sm-1.commentname
                        | Chris Grimm
                    .col-sm-11.commenttext
                        | Poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine poutine
                .row.comment
                    .col-sm-1.commentname
                        | Not Chris Grimm
                    .col-sm-11.commenttext
                        | ^ I agree
                .row.comment
                    .col-sm-1.commentname
                        | Some hater
                    .col-sm-11.commenttext
                        | I'm actually not a big fan of poutine. I prefer things like:
                        br
                        br
                        ul
                            li Water
                            li Sadness
                            li Boredom
    // End container
