extends layout

block content
  .container-fluid(ng-app='app')
    .row.content
      .col-sm-3.sidenav.restaurant-list
        h3 Restaurant names go here
      .col-sm-9.restaurant-map(ng-controller='MapCtrl')
          ui-gmap-google-map(center='map.center', zoom='map.zoom')
    footer.container-fluid
    p Footer Text