body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.restaurant-list {
  background-color: #3361FF;
}

.restaurant-map {
  background-color: #DD33FF;
}