body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.restaurant-list {
  background-color: #3361FF;
}

.restaurant-map {
    height: 100%;
    width: 100%;
}

.angular-google-map-container {
    height: 800px;
}